* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppinsmedium', sans-serif;
}

/* Calculator CSS start */

section {
    margin-top: 20px;
}

table caption {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #337ab7;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
  }

table td {
    width: 20px;
}

table tr:nth-child(2) td input {
    background-color: grey;
}

table input {
    width: 100%;
    height: 50px;
}

#equal {
    height: 250px;
    width: 100%;
    text-align: center;
    line-height: 250px;
    background-color: #337ab7;
    color: #fff;
}